{% extends "base.html" %}
{% block content %}
<h1 class="mb-4">Сайты</h1>

<table class="table table-bordered align-middle" data-test="urls">
  <thead class="table-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Имя</th>
      <th scope="col">Последняя проверка</th>
      <th scope="col">Код ответа</th>
    </tr>
  </thead>
  <tbody>
    {% for url in urls %}
      <tr>
        <td>{{ url.id }}</td>
        <td><a href="{{ url_for('url_page', id=url.id) }}">{{ url.name }}</a></td>
        <td>{{ url.created_at.strftime('%Y-%m-%d') }}</td>
        <td>200</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
